<div class="page-header">
  <h2 class="">api/v1/certificate/relationships/<span class="text-info">:relationshipID</span>.<span class="text-info">:format</span></h2>
</div>
<div class="row-fluid">
  <h4>Input</h4>
  <table class="table table-condensed well">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-info">relationshipID</td>
        <td>int</td>
        <td>the relationshipID</td>
      </tr>
      <%= render 'api/input' %>
    </tbody>
  </table>
</div>
<div class="row-fluid section">
  <h4>Example</h4>
   <div class="code-group"><span class="badge badge-success">Get:</span><code></code></div>
   <pre class="pre-scrollable"></pre>
</div>
<div class="row-fluid section">
  <h4>Response</h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Object</th>
        <th>Value Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>parentID</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>parentTypeID</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>parentLevel</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>childID</td>
        <td>int</td>
        <td></td>
      </tr>
    </tbody>
  </table>
 </div>