<tr>
  <td class="text-info">format</td>
  <td>js / json / xml</td>
  <td>the format type to be returned</td>
</tr>
<tr>
  <td class="text-info">token</td>
  <td>string</td>
  <td>your <%= link_to 'API Access token', account_edit_path %></td>
</tr>