<div class="page-header">
  <h2 class="">api/v1/map/denormalize/<span class="text-info">:itemId</span>.<span class="text-info">:format</span></h2>
</div>
<div class="row-fluid">
  <h4>Input</h4>
  <table class="table table-condensed well">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-info">itemID</td>
        <td>int</td>
        <td>the itemID</td>
      </tr>
      <%= render 'api/input' %>
    </tbody>
  </table>
</div>
<div class="row-fluid section">
  <h4>Example</h4>
   <div class="code-group"><span class="badge badge-success">Get:</span><code>/api/v1/map/denormalize/10000001.json?token=138cdcb016f8d58bf8f07560206abb2acallback=evedb</code></div>
   <pre class="pre-scrollable">evedb({"celestialIndex":null,"constellationID":null,"groupID":3,"itemID":10000001,"itemName":"Derelik","orbitID":null,"orbitIndex":null,"radius":38009740755086700.0,"regionID":null,"security":null,"solarSystemID":null,"typeID":3,"x":-77361951922776900.0,"y":50878032664301900.0,"z":-64433101266115400.0})</pre>
</div>
<div class="row-fluid section">
  <h4>Response</h4>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Object</th>
        <th>Value Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>celestialIndex</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>constellationID</td>
        <td>id</td>
        <td></td>
      </tr>
      <tr>
        <td>groupID</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>itemID</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>itemName</td>
        <td>string</td>
        <td></td>
      </tr>
      <tr>
        <td>orbitID</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>orbitIndex</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>radius</td>
        <td>decimal</td>
        <td></td>
      </tr>
      <tr>
        <td>regionID</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>security</td>
        <td>decimal</td>
        <td></td>
      </tr>
      <tr>
        <td>solarSystemID</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>typeID</td>
        <td>int</td>
        <td></td>
      </tr>
      <tr>
        <td>x</td>
        <td>decimal</td>
        <td></td>
      </tr>
      <tr>
        <td>y</td>
        <td>decimal</td>
        <td></td>
      </tr>
      <tr>
        <td>z</td>
        <td>decimal</td>
        <td></td>
      </tr>
    </tbody>
  </table>
 </div>